<launch>
  <arg name="sim" default="true" />
  <arg name="debug" default="false" />

  <!-- Remapea trajectory controller para Gazebo -->
  <remap if="$(arg sim)" from="/scaled_pos_joint_traj_controller/follow_joint_trajectory" to="/eff_joint_traj_controller/follow_joint_trajectory"/>

  <!-- Lanza MoveIt  con la config de Universal Robots-->
  <include file="$(find ur5_moveit_config)/launch/move_group.launch">
    <arg name="debug" value="$(arg debug)" />
  </include>

  <!-- Lanza RViz con la configuración de RVIZ guardada en config -->
  <node name="rviz" pkg="rviz" type="rviz" output="screen"
        args="-d $(find ur5_v5)/config/config.rviz" />

  <!--______________________________________________________________________-->
  <!-- Nodo RPY en radianes -->
  <node name="rpy_marker_rad" pkg="ur5_v5" type="rpy_marker_rad.py" output="screen">
    <param name="reference_frame" value="base_link"/>
    <param name="target_frame" value="tool0"/>
  </node>

  <!-- Nodo RPY en grados -->
  <node name="rpy_marker_deg" pkg="ur5_v5" type="rpy_marker_deg.py" output="screen">
    <param name="reference_frame" value="base_link"/>
    <param name="target_frame" value="tool0"/>
  </node>

  <!-- Nodo joint_state_marker_rad -->
  <node name="joint_state_marker_rad" pkg="ur5_v5" type="joint_state_marker_rad.py" output="screen" />

  <!-- Nodo joint_state_marker_deg -->
  <node name="joint_state_marker_deg" pkg="ur5_v5" type="joint_state_marker_deg.py" output="screen" />

  </launch>